layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }

    tab name="opencode" {
        pane command="opencode"
    }

    tab name="ai" {
        pane command="claude"
    }

    tab name="editor" {
        pane command="nvim"
    }

    tab name="terminal" focus=true{
    }

    tab name="finder" {
      pane command="yazi"
    }

    tab name="git" {
        pane command="lazygit"
    }
}
